<p><%= @online.first_name %> <%= @online.last_name %> 様</p>
<p>※このメールアドレスは配信専用ですので、返信しないようお願いします。</p>
<p>
  登録が完了しました。<br>
  <%= @online.first_name %>様の受講生番号は以下の通りです。
</p>
<p>受講生番号：<%= @online.membership_number %></p>
<p>
  以下のページから、受講生番号とすでにメールでお送りしているパスワードを使って、マイページにログインしてください。<br>
  <a href="">受講生ログインページ</a>
</p>
<p>
  本日、テキストを郵送いたします。テキストが届いたら、同封のご案内を参考に学習を始めてください。<br>
  学習の進め方、受講システムについてなど、分からないことや困ったことがあれば、以下のお問い合わせフォームからお問い合わせください。
</p>
<p>
  「お問い合わせ」フォーム<br>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPe5JB7cmNgupFeAbH_nqYy48MYf_DTBKQfrACZ7G-7ld5pQ/viewform?usp=sf_link">https://docs.google.com/forms/d/e/1FAIpQLSdPe5JB7cmNgupFeAbH_nqYy48MYf_DTBKQfrACZ7G-7ld5pQ/viewform?usp=sf_link</a>
</p>
<p>稲荷塾</p>
