<p><%= @online.first_name %> 様    (受講生番号:{<%= @online.membership_number %>})</p>
<p>※このメールアドレスは配信専用ですので、返信しないようお願いします。</p>
<p>
  お世話になります。<br>
  以下の講座について、受講料のお振込みを確認いたしました。
</p>
<p>講座名：{<%= @payment.course %>}</p>
<p>
  以下のページから、このメールに記載されている受講生番号と保護者様のメールアドレスでログインしていただくと、受講状況が確認いただけます。<br>
  <a href="">保護者ログインページ</a>
</p>
<p>受講に関して、ご不明点やお困りごとがございましたら、以下のお問い合わせフォームからお問い合わせください。</p>
<p>
  「お問い合わせ」フォーム<br>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSdPe5JB7cmNgupFeAbH_nqYy48MYf_DTBKQfrACZ7G-7ld5pQ/viewform?usp=sf_link">https://docs.google.com/forms/d/e/1FAIpQLSdPe5JB7cmNgupFeAbH_nqYy48MYf_DTBKQfrACZ7G-7ld5pQ/viewform?usp=sf_link</a>
</p>
<p>よろしくお願いいたします。</p>
<p>稲荷塾</p>
