<p><%= @online.first_name %> <%= @online.last_name %> 様</p>
<p>※このメールアドレスは配信専用ですので、返信しないようお願いします。</p>
<p>
	稲荷塾オンライン講座にご登録いただきありがとうございます。<br>
	マイページへのログインパスワードをご連絡いたします。
</p>
<p>パスワード：{<%= @online.password %>}</p>
<p>
	保護者様のアドレスに受講料お振込みのご案内を送信しております。<br>
	お振込みが確認できましたら登録完了となり、改めてご連絡させていただきます。<br>
	登録完了後、マイページにログインする際に上のパスワードを使用しますので、大切に保管してください。
</p>
<p>よろしくお願いいたします。</p>
<p>稲荷塾</p>
